.comboBox {
    display: flex;
    position: relative;
    width: 8rem;
    justify-content: space-between;
    padding: 0.3rem 1rem;
    background-color: #00000066;
    border: 1px #615F5F solid;
    border-radius: 5px;
}

.langSelect{
    
}

.langDropdown {
    display: block;
    padding: 4px;
    position: absolute;
    margin-top: 2rem;
    width: 8rem;
    background-color: #BAB8A1;
    color:white;
    border-radius: 5px;
}

.langRow {
    padding: 4px 2px;
    border-radius: 5px;
    cursor: default;
}

.langRow:hover {
    background-color: #232323;
}

.hidden {
    display: none;
}